*{
    padding: 0;
    margin: 0;
}
.nav{
    background: black;
    height: 100px;
    color: white;
}
.nav ul li a{
    color: orange;
    text-decoration: none;
    padding: 20px;
    /* margin: 50px 0px; */
}
.nav ul li{
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
    font-size: 30px;

}
.right{
    height: 500px;
    background: gold;
    color: green;
    display: inline-block;
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}
.left{
    height: 500px;
    background: maroon;
    color: goldenrod;
    display: inline-block;
    width: 50%;
    padding:30px;
    box-sizing: border-box;
}
footer{
    height: 40px;
    font-family: 'Baloo Bhai 2', cursive;
    background: burlywood;
    padding: 30px;
    margin: 0;
    text-align: center;
}
